#Initial commit
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Bioinformatic_analysis
Raw_data.tgz
sh_general_release_dynamic_s_all_25.07.2023.fasta
Raw_data/
Raw_data_firefungi_soil
output_cutadapt/
cutadapt.exe
lulu.log_20240920_214521
match_list.txt

#Meta-analysis
Metaanalysis_course.R